
body {
    margin:0px;
    text-align: center;
}

#main {
    max-width: 1200px;
    margin: auto;
}

#hero-section {
    background-image: url("images/goldenTemple.jpg");
    height: 400px;
    /* background-size: cover; */
    background-position: center;
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-title {
    background-color: #EA8C55 ;
    color: white;
    padding: 8px;
    border-radius: 14px;
    text-shadow: 0px 0px 3px #81171B;
}

#hero-subtitle {
    background-color: #AC4C15;
    color: white;
    padding: 8px;
    border-radius: 14px;
    text-shadow: 0px 0px 3px #81171B;
}

.img-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#activities {
    background-color: #F5D0CD;
    padding: 10px;
   
}

.activity-layout {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 40px;
   
}

.item {
    flex-basis: 30%;
}

#guide-avatar {
    width: 200px
}